/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(215, 211, 211);
}

/* header start */
#header-container{
    height: 10%;
    background-color: white;
}
#logo{
    vertical-align: middle;
    padding: 10px 5px 10px 30px;
}

.logo-text::after{
    content: ' Toboolist'; 
    font-size: 42px;
    font-weight: 700;
    vertical-align: middle;
}
/* header end */

/* buttons section start */
#buttons-container{
    width: 70%;
    margin: 30px auto 0.3%;
    padding: 10px 50px;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#task-button{
    font-size: 12px;
    background-color: rgb(44, 145, 227);
    padding: 4px 8px;
    color: white;
    border: 1px solid rgb(44, 145, 227);
    border-radius: 6px;
}

#section-button{
    font-size: 12px;
    background-color: white;
    padding: 4px 8px;
    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
}
/* buttons section end */

/* list section start */
#list-container{
    width: 70%;
    margin: 0.3% auto;
    padding: 30px 50px;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
ul{
    list-style-type: none;
}

.list-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 14px 0;
}

.list-title::before{
    content: '\1F783';
}

.check::before{
    content: '\2713';
    font-size: 12px;
    font-weight: bold;
    color: lime;
    padding: 1px 3px;
    margin: 0 5px 0 5px;
    border: 1px solid lime;
    border-radius: 50%;
}

.cross::before{
    content: '\2716';
    color: red;
    font-size: 12px;
    padding: 1px 3px;
    margin: 0 5px 0 5px;
    border: 1px solid red;
    border-radius: 50%;
}

.list{
    margin: 15px 0;
}

span{
    display: inline-block;
}

li span{
    font-size: 0.7em;
    color: white;   
    border-radius: 10px;
    padding: 5px 7px;
    margin-left: 5px;
}

/* DESCRIPTION TAGS After list item*/
.editorial-tag{
    background-color: rgb(44, 145, 227);
}

.goals-tag{
    background-color: rgb(104, 10, 172);
}

.recruiting-tag{
    background-color: rgb(7, 88, 10);
}

.mobile-tag{
    background-color: rgb(240, 138, 5);
}

.website-tag{
    background-color: rgb(251, 22, 179);
}

.sales-tag{
    background-color: rgb(53, 255, 26);
}